body{
  margin:0;
  font-family:Arial;
  background:#f5f9ff;
}

header{
  background:#0d6efd;
  color:white;
  text-align:center;
  padding:30px;
}

.hero{
  text-align:center;
  padding:60px 20px;
}

.hero button{
  padding:12px 25px;
  border:none;
  background:#0d6efd;
  color:white;
  border-radius:10px;
  cursor:pointer;
}

.program{
  display:flex;
  justify-content:center;
  gap:20px;
  padding:40px;
  flex-wrap:wrap;
}

.card{
  background:white;
  width:250px;
  padding:25px;
  border-radius:20px;
  box-shadow:0 5px 15px rgba(0,0,0,0.1);
  text-align:center;
}
